<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= error_messages_for(@user)%></h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br />
    <%  unless @user.code.eql?('root') %>    
    <%= f.text_field :code %>
    <% else %>
      <%= @user.code %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :role %><br />
    <%= f.collection_select :role_id, Role.all, :id, :name, :prompt => true %>  
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
