<% I18n.with_options :scope => [:activerecord, :attributes, :report4] do |i18_l| %>

<%= form_for( RepairLog.new_searcher, :url => { :action => 'search' }, :method => 'get', :remote => true ) do |f| %>
<div id='search'>
   <%= label_tag i18_l.t :company %>
   <%= f.collection_select :company_id, Company.where(:category_id => @current_user.category.id), :id, :name, :prompt => true %>  
   <%= label_tag i18_l.t :state %>
   <%= f.collection_select :state_id, State.where(:category_id => @current_user.category.id), :id, :name, :prompt => true %>  
   <%= label_tag i18_l.t :days %>
   <%= number_field_tag :days, '10',:size => 2 %>

   <%= button_tag_l 'search'%>
<% end %>
</div>

<div id='print'><%= button_tag_l 'print' %></div>


<div id='PrintDiv'>

<div id='results'> 
  <%=render :partial => 'results', :locals => {:repair_logs => @repair_logs} %>
</div>

</div>




<% end %>

